<%= stylesheet_link_tag "styles" %>
<div class ="main-container">
  <div>
    <header class ="header-home">
      <div></div>
      <div>
        <h1 class ="header-text">CARDANO <span style="font-weight: bold">WALLET HELPER</span></h1>
        <p class="header-subtext">Find minted transactions with ease.</p>
      </div>
    </header>
  </div>
  <div class ="search-container">
    <%= render "layouts/search_form"%>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>
